* {
    font-family: 'Cantata One', serif;
}
body {
    background-color: #ffffff;
}

.jumbotron {
    text-align: center;
    height: 200px;
    background-color:  #0d0d0d;
    color: #ffffff;
    padding-bottom: 0;
}

.card-body {
    text-align: center;
}