* {
    font-family: 'Cantata One', serif;
}
body {
    background-color: #ffffff;
}

.jumbotron {
    text-align: center;
    height: 200px;
    background-color:  #1a1a1a; 
    color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.card-body {
    text-align: center;
}